.card-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 500px) {
    .card-list {
      display: flex;
      flex-direction: column;  
    }
}